//-------colors--------

$main-white: #fff;
$bg-primary: #f8f8f8;
$accent-color: #54d3c2;
$accent-color-dark: #30898a;
$text-color: #323f47;
$subtext-color: #6d7986;
$inactive-color: #d2d1d1;
$active-color: #989fa3;
$danger-color: #fc5c65;
$orange-color: #f7b731;

//-------fonts--------

$spacing-lg: 0.44px;
$spacing-sm: -0.56px;

//-------divs--------

$bradius-xl: 56px;
$bradius-lg: 32px;
$bradius-md: 24px;
$bradius-sm: 16px;
