@use "../../styles/utils/variables" as *;

.layout {
  height: 200vh;
  width: calc(100vw - 142px);
  border-radius: $bradius-xl;
  background: $main-white;
  position: absolute;
  left: 127px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 0;
}
